* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100vh;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.counter h2 {
  font-size: 50px;
  color: #112a42;
}
.counter p {
  padding: 10px 0 0 0;
  font-size: 96px;
}
.container .controls {
  padding: 10px;
}
.btn {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  background: none;
  border: none;
  height: 50px;
  font-size: 14px;
  border: 2px solid #222;
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.4s ease;
  outline: none;
}
.btn:hover {
  background-color: #222;
  color: white;
  transition: background-color 0.4s ease;
}
